.sidebar {
    width: 200px;
    background-color: "linear-gradient(to bottom, rgba(30, 30, 30, 0.7), rgba(0, 0, 0, 1)),";
    /* background-color: #1e1e1e; */
    color: white;
    padding: 1rem;
    transition: width 0.3s ease;
  }
  
  .sidebar.closed {
    width: 60px;
  }
  
  .icon-1 {
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-list li {
    cursor: pointer;
    padding: 0.5rem 0;
    transition: color 0.2s ease;
  }
  
  .sidebar-list li.active {
    color: #dfe5ee;
  }
  




